/* Write your CSS here */
.comments-page {
  margin: 20px;
  height: 100vh;
}

.comments-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.comments-inputsection {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.element-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-name {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
}

.comment-field {
  width: 280px;
  height: 100px;
  font-family: 'Roboto';
  padding: 5px;
  font-size: 14px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #cbd2d9;
  border-width: 2px;
  outline: none;
}

.add-button {
  background-color: #0284c7;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  width: 150px;
}

.comments-list {
  list-style-type: none;
  padding: 0;
}
